.container-fluid {
  padding-left: 20px;
  padding-right: 20px;
  /*padding-top: 20px;*/
  padding-bottom: 20px;
  color: #CCCCCC;
  width: 80%;
  /*margin: auto;*/
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
  padding-top: 0;
  padding-bottom: 5px;
  border-bottom: none;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 5.2em;
  text-transform: uppercase;
}
h2 {
  padding-top: 0;
  padding-bottom: 5px;
  border-bottom: none;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1.2em;
}
h5 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px 10px 10px 10px;
}
.header {
  text-align: center;
  /*color: #eeeeee;*/
  /*background-color: rgba(20, 20, 20, 0.6);*/
  background-size: cover;
  width: 80%;
  margin: auto;
  padding: 5px 5px 5px 5px;
  padding-top: 40px;
  margin-bottom: 30px;
}

.card {
  text-align: center;
  align-items: center;
  width: 32%;
  min-width: 300px;
  display: inline-block;
  margin: auto;
  border: 5px solid #eeeeee;
  margin-bottom: 20px;


}

.foot {
  text-align: center;
  /*color: #eeeeee;*/
  /*background-color: rgba(20, 20, 20, 0.6);*/
  width: 80%;
  margin: auto;


}
